body {
    background-color: #f5f5f5;
}

.login {
    height: 86vh;
    
    background-repeat: no-repeat;
   
    background-size: contain;
    .row {
        padding-top: 6%;
    }
    form {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
    }
    .btn-primary {
        background-color: #28a745!important;
        border: 0;
        &:hover {
            color: white!important;
            text-decoration: none;
            background-color: #28a746d8!important;
        }
    }
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer-sitio {
    background-color: red;
    h3 {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .copyright {
        color: #ffffff;
        font-size: 15px;
    }
}