<!DOCTYPE html>
<html lang="en">

<body>
    <section class="login">
        <div class="row d-flex align-items-center no-gutters">
            <div class="col-md-12 col-sm-12">
                <div >
                    
                     
                        <img src="/assets/img/Z.png"  class="center" (click)="siguente()">
                    
                    

                </div>

            </div>
        </div>
    </section>

    <footer class="footer-sitio pt-3 text-light">
        <div class="container">
            <div class="row">
                <hr class="w-100">
                <p class="text-center copyright w-100"> © 2019 - Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>

</body>

</html>