<div >
<div class="h">
<table width="100%" border="3" cellpadding="0" cellspacing="2" style="border-color:black; border: 2;">
	<tr style="background-color:rgb(14, 221, 24);">
        <th data-field= "id_q" >id_q </th>
        <th data-field= "_01_marca_temporal">1_marca_temporal </th>
        <th data-field= "_02_es_la_primera_vez">2_es_la_primera_vez </th>
        <th data-field= "_03_cuantas_veces_visitado_ultimos_tres_anios">3_cuantas_veces_visitado_ultimos_tres_años </th>
        <th data-field= "_04_como_se_entero_de_la_existencia_del_zigzag">4_como_se_entero_de_la_existencia_del_zigzag </th>
        <th data-field= "_05_calificacion_salas_interactivas">5_calificacion_salas_interactivas </th>
        <th data-field= "_06_calificacion_talleres_cientificos">6_calificacion_talleres_cientificos </th>
        <th data-field= "_07_calificacion_exposiciones_temporales">7_calificacion_exposiciones_temporales </th>
        <th data-field= "_08_calificacion_sendero_sol_viento">8_calificacion_sendero_sol_viento </th>
        <th data-field= "_09_calificacion_zona_de_aventuras">9_calificacion_zona_de_aventuras </th>
        <th data-field= "_10_prefiere_recorridos_libres_guiados">10_prefiere_recorridos_libres_guiados </th>
        <th data-field= "_11_calificacion_general_zigzag">11_calificacion_general_zigzag </th>
        <th data-field= "_12_aspectos_para_mejorar_zigzag">12_aspectos_para_mejorar_zigzag </th>
        <th data-field= "_13_tipo_de_grupo">13_tipo_de_grupo </th>
        <th data-field= "_14_sexo">14_sexo </th>
        <th data-field= "_15_edad">15_edad </th>
    </tr>

<tbody>
    <tr *ngFor="let person of emprendedor">
      
        <td style ="text-align: center">{{ person.id_q }}</td>
        <td style ="text-align: center">{{ person._01_marca_temporal }}</td>
        <td style ="text-align: center">{{ person._02_es_la_primera_vez }}</td>
        <td style ="text-align: center">{{ person._03_cuantas_veces_visitado_ultimos_tres_anios }}</td>
        <td style ="text-align: center">{{ person._04_como_se_entero_de_la_existencia_del_zigzag }}</td>
        <td style ="text-align: center">{{ person._05_calificacion_salas_interactivas }}</td>
        <td style ="text-align: center">{{ person._06_calificacion_talleres_cientificos }}</td>
        <td style ="text-align: center">{{ person._07_calificacion_exposiciones_temporales }}</td>
        <td style ="text-align: center">{{ person._08_calificacion_sendero_sol_viento }}</td>
        <td style ="text-align: center">{{ person._09_calificacion_zona_de_aventuras }}</td>
        <td style ="text-align: center">{{ person._10_prefiere_recorridos_libres_guiados }}</td>
        <td style ="text-align: center">{{ person._11_calificacion_general_zigzag }}</td>
        <td style ="text-align: center">{{ person._12_aspectos_para_mejorar_zigzag }}</td>
        <td style ="text-align: center">{{ person._13_tipo_de_grupo }}</td>
        <td style ="text-align: center">{{ person._14_sexo }}</td>
        <td style ="text-align: center">{{ person._15_edad }}</td>
      

    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-lg-between flex-column flex-sm-row">
<button (click)="logout()">Salir</button>
<button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:green"></i></button>
</div>
</div>
</div>
