.table-wrapper-scroll-y {
    display: block;
    max-height: 450px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.h {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-size: cover;
    backdrop-filter: blur(80px);  
    -webkit-backdrop-filter: blur(80px);
    max-width: 100%;
    max-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: repeat-y;
}
